<?xml version="1.0" encoding="utf-8" ?>

<routes>
    <route url="/admin/connexion" module="Connexion" action="adminconnexion"/>
    <route url="/admin/connexionform" module="Connexion" action="adminconnexionform"/>
    <route url="/admin/ajoutphoto" module="GestionPhotos" action="addonephoto"/>
    <route url="/admin/ajoutphotoform" module="GestionPhotos" action="ajoutphotoform"/>
    <route url="/admin/ordrecarousel" module="GestionPhotos" action="ordrecarousel"/>


</routes>


