{% extends 'Frontend/Templates/frontend_layout.html.twig' %}

{% block frontend_content %}

    <h2>Identification réussie. Bienvenue {{ GlobalSession.utilisateur_entity.prenom }} </h2>


{% endblock %}
