{% extends 'Frontend/Templates/frontend_layout.html.twig' %}

{% block frontend_content %}

    <section class="sign_in_section">
        <form class="sign_in_form" id="formulaire_sign_in" action="/signingin" method="post" novalidate>

            <label for="prenom">Prénom</label>
            <input name="prenom" id="prenom" type="text" required><br>

            <label for="nom">Nom</label>
            <input name="nom" id="nom" type="text" required><br>

            <label for="birthdate">Date de naissance</label>
            <input name="birthdate" id="birthdate" type="date" required><br>

            <label for="numero_rue">Numéro de rue</label>
            <input name="numero_rue" id="numero_rue" type="text" required><br>

            <label for="nom_rue">Nom de rue</label>
            <input name="nom_rue" id="nom_rue" type="text" required><br>

            <label for="complement_adresse">Complément d'adresse</label>
            <input name="complement_adresse" id="complement_adresse" type="text"><br>

            <label for="code_postal">Code postal</label>
            <input name="code_postal" id="code_postal" type="text" required><br>

            <label for="ville">Ville</label>
            <input name="ville" id="ville" type="text" required><br>

            <label for="pays">Pays</label>
            <input name="pays" id="pays" type="text" required><br>

            <label for="telephone">Téléphone</label>
            <input name="telephone" id="telephone" type="text"><br>

            <label for="email_adress">Email</label>
            <input name="email_adress" id="email_adress" type="email" required><br>

            <label for="password">Mot de passe</label>
            <input name="password" id="password" type="password" required><br>


            <button id="validation_signingin_in" class="btn btn-primary" name="bouton_validation_signingin_in" type="submit">Valider</button>
        </form>
    </section>




{% endblock %}
