{% extends 'Frontend/Templates/frontend_layout.html.twig' %}

{% block frontend_content %}

    <section class="sign_in_section">
        <form class="sign_in_form" id="formulaire_sign_in" action="/signingup" method="post" novalidate>

            <div class="champ_signup_form">
                <label for="prenom">Prénom</label>
                <input name="prenom" id="prenom" type="text" required><br>
            </div>


            <div class="champ_signup_form">
                <label for="nom">Nom</label>
                <input name="nom" id="nom" type="text" required><br>
            </div>


            <div class="champ_signup_form">
                <label for="birthdate">Date de naissance</label>
                <input name="birthdate" id="birthdate" type="date" required><br>
            </div>


            <div class="champ_signup_form">
                <label for="numero_rue">Numéro de rue</label>
                <input name="numero_rue" id="numero_rue" type="text" required><br>
            </div>


            <div class="champ_signup_form">
                <label for="nom_rue">Nom de rue</label>
                <input name="nom_rue" id="nom_rue" type="text" required><br>
            </div>


            <div class="champ_signup_form">
                <label for="complement_adresse">Complément d'adresse</label>
                <input name="complement_adresse" id="complement_adresse" type="text"><br>
            </div>


            <div class="champ_signup_form">
                <label for="code_postal">Code postal</label>
                <input name="code_postal" id="code_postal" type="text" required><br>
            </div>


            <div class="champ_signup_form">
                <label for="ville">Ville</label>
                <input name="ville" id="ville" type="text" required><br>
            </div>


            <div class="champ_signup_form">
                <label for="pays">Pays</label>
                <input name="pays" id="pays" type="text" required><br>
            </div>


            <div class="champ_signup_form">
                <label for="telephone">Téléphone</label>
                <input name="telephone" id="telephone" type="text"><br>
            </div>


            <div class="champ_signup_form">
                <label for="email_adress">Email</label>
                <input name="email_adress" id="email_adress" type="email" required><br>
            </div>


            <div class="champ_signup_form">
                <label for="password">Mot de passe</label>
                <input name="password" id="password" type="password" required><br>
            </div>


            <button id="validation_signingin_in" class="btn btn-primary" name="bouton_validation_signingin_in" type="submit">Valider</button>
        </form>
    </section>


{% endblock %}


{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/signingupform.css">
{% endblock %}


