<?xml version="1.0" encoding="utf-8" ?>

<routes>
    <route url="/" module="Accueil" action="accueil"/>

    <route url="/showallphotos" module="Photos" action="showallphotos"/>
    <route url="/showonegalerie" module="Photos" action="showonegalerie"/>

    <route url="/showallavailablephotos" module="Commande" action="showallavailablephotos"/>
</routes>


