<?xml version="1.0" encoding="utf-8" ?>

<routes>
    <route url="/" module="Accueil" action="accueil"/>

    <route url="/showallphotos" module="Photos" action="showallphotos"/>
    <route url="/showonegalerie" module="Photos" action="showonegalerie"/>

    <route url="/showallavailablephotos" module="Commande" action="showallavailablephotos"/>
    <route url="/showonearticle" module="Commande" action="showonearticle"/>
    <route url="/validateonearticle" module="Commande" action="validateonearticle"/>
    <route url="/addorremoveonetoquantity" module="Commande" action="addorremoveonetoquantity"/>
    <route url="/affichagepanier" module="Commande" action="affichagepanier"/>
    <route url="/validationpanier" module="Commande" action="validationpanier"/>
    <route url="/confirmationpaiement" module="Commande" action="confirmationpaiement"/>
    <route url="/annulationpaiement" module="Commande" action="annulationpaiement"/>
    <route url="/retourpaypal" module="Commande" action="retourpaypal"/>


    <route url="/logginginform" module="Identification" action="logginginform"/>
    <route url="/loggingin" module="Identification" action="loggingin"/>
    <route url="/loggingoutform" module="Identification" action="loggingoutform"/>
    <route url="/loggingout" module="Identification" action="loggingout"/>
    <route url="/signingupform" module="Identification" action="signingupform"/>
    <route url="/signingup" module="Identification" action="signingup"/>


    <route url="/sendsearchrequest" module="Recherche" action="sendsearchrequest"/>


</routes>


