{% extends '/App/Frontend/Templates/frontend_layout.twig' %}

{% block frontend_content %}
    <section>
        <h3>Contact</h3>
        <div>Téléphone : 0687...</div>
        <div>email : ...@....com</div>
    </section>
{% endblock %}