.carousel_accueil
{
    /*margin-left: 300px;*/
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#carouselBasicExample
{
    width: 100%;
}


/*Zones de défilement du carousel*/
.carousel-control-prev, .carousel-control-next
{
    opacity: 0;
    border: none;
}


/*Zones de défilement du carousel*/
.carousel-control-prev:hover, .carousel-control-next:hover
{
    opacity: 0.3;
    border: none;
}


/*Zones de défilement du carousel*/
.carousel-control-prev-icon, .carousel-control-next-icon
{
    opacity: 1;
    color: black;
}




/*

.carouselBasicExample, #slide
{
    width: 20%;
}
*/

