/*Feuille de style du projet*/

/*Police Montserrat de Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');


body
{
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: rgba(55, 55, 55, 1);
    /*position: relative;*/
    /*min-height: 100vh;*/
    /*margin-bottom: 40px;*/
    display: flex;
    flex-direction: column;
    /*background-color: #e7bae4;*/
    /*background-color: #f6dbf4;*/
    /*background-color: #f5e9f4;*/
    background-color: #ffffff;
}


h1
{
    font-weight: 500;
}


h2
{
    font-weight: 300;
}


#separateur_titre_general
{
    font-weight: 100;
}


a
{
    color: rgba(55, 55, 55, 1);
}


main
{
    /*min-height: 100vh;*/
    /*flex-grow : 1 autorise le main à grandir pour occuper l'espace disponible. Permet de décaler le footer en bas de page*/
    flex-grow: 1;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


/*main > section:first-child*/
main > section
{
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer
{
    width: 100%;
    /*position: absolute;*/
    /*bottom: 0;*/
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}


button, input[type="submit"]
{
    /*background-color: #00ced1;*/
    background-color: #d6d2f9;
    border: 1px solid #3e3e3e;
    border-radius: 3px;
}


button:active, input[type="submit"]:active
{
    background-color: #aaa2f1;
}



#bandeau_header_general
{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#liste_menu_general li
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.un_article_panier
{
    border: solid black 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


