{% extends 'Frontend/Templates/frontend_layout.html.twig' %}

{% block frontend_content %}

    <h2>Votre paiement a été validé. Merci pour votre commande et à bientôt</h2>

    <h2>Merci pour votre paiement. Votre transaction est terminée et vous allez recevoir par email un avis accusant réception de votre achat.
        Connectez-vous à votre compte PayPal pour consulter les détails de la transaction</h2>

{% endblock %}
