{% extends 'Frontend/Templates/frontend_layout.html.twig' %}

{% block frontend_content %}
    <section class="visionnage_article">
        <img alt="photo article" src="/images/{{ galerieEntity.nom_galerie ~ '/' ~ selected_photo.serial_number }}">
    </section>
    <section class="infos_et_commande">
        <select id="dimensions_deroulant" class="form-select dimensions_article" aria-label="Default select example">
            <option value="" selected disabled hidden>Dimensions</option>
            {% for photoTarif in photoTarifs %}
            <option class="menu_deroulant_dimensions" data-prix="{{ photoTarif.prix }}" value="{{ photoTarif.dimensions_id }}">{{ allDimensions[photoTarif.dimensions_id].dimensions }}</option>
            {% endfor %}
        </select>
        <div class="prix_article">
            Prix :  €
        </div>
    </section>


{% endblock %}
{% block javascript %}
<script type="application/javascript" src="/js/MenuDeroulantSelection.js"></script>
<script type="application/javascript" src="/js/ShowOneArticle.js"></script>
{% endblock %}


