<!DOCTYPE html>
<html lang="fr_FR">
<head>
    <meta charset="UTF-8">
    <!--      Fontawesome   -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
          integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous"/>
    <!--    Feuille de style-->
    <link rel="stylesheet" href="/css/style.css"/>
    <!--    Titre dans le navigateur-->
    <title>Romain CHARLES - Photographe</title>
</head>
<body>
{% if exception is defined and exception %}
    <h1>ERREUR : </h1>
    <p>{{ exception.message }}</p>
{% else %}
<h1>Voici le template général</h1>

{% block content %}{% endblock %}
{% endif %}
</body>
</html>